spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false
      mail.smtp.ssl.enable: false
      mail.smtp.port: 1025
